body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
}

#content{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.bg-gif{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

a.redirect , .pop-up{
	position: absolute;
	width: 50%;
	top: 50%;
  	left: 25%;
  	z-index: 2; 
}

#myImage {
  display: none;
}

.sponsor {
  position: absolute;
  top: 3em;
  left: 2em;
  transform: translate(-50%, -50%) scale(0.2);
  animation: fadein 0.5s;
}

.ad-content {
  	display: flex;
  	flex-direction: column;
  	height: 100vh;
  	justify-content: space-between;
  	align-items: flex-end;
}

.sponsor-title{
	align-self: flex-start;
}

a.skip-ads{
	align-self: flex-end;
}

#main{
	font-size: 5rem;
  margin: 5rem;
  text-align: center;
}

#info{
	text-align: center;
	font-size: 4rem;
  margin: 5rem;
}

#outputContainer{
	text-align: center;
	font-size: 3rem;
  margin: 5rem;
}

.downArrow{
	width: 2%;
}

.downButton {
	display: flex;
	justify-content: center;
}
