@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
}

#content{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.bg-gif{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

a.redirect , .pop-up{
	position: absolute;
	width: 50%;
	top: 50%;
  left: 25%;
  z-index: 2; 
}

#myImage {
  display: none;
}

.sponsor {
  position: absolute;
  top: 3em;
  left: 2em;
  transform: translate(-50%, -50%) scale(0.2);
  animation: fadein 0.5s;
}

.ad-content {
  	display: flex;
  	flex-direction: column;
  	height: 100vh;
  	justify-content: space-between;
  	align-items: flex-end;
  	padding: 1%;
}

.sponsor-title{
	align-self: flex-start;
}

a.skip-ads{
	align-self: flex-end;
	color: white;
	font-size: 2em;
}

#main{
	font-size: 5.5rem;
  margin: 2rem;
  text-align: center;
  color: #4285F4;
}

#info{
	text-align: center;
	font-size: 4rem;
  margin: 5rem;
}

#outputContainer{
	text-align: center;
	font-size: 2.5rem;
}

.downArrow{
	width: 5%;
}

.downButton {
	display: flex;
	justify-content: center;
}

.pet-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.pet-collection{
	width: auto;
  height: 100%;
  max-height: 25rem;
  object-fit: cover; 
  margin: 1%;
  aspect-ratio: 1;
}

.political-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.political-collection{
	width: auto;
  height: 100%;
  max-height: 25rem;
  object-fit: cover; 
  margin: 1%;
}

#sponsor-page{
	background: #1778F2;
	color: white;
	font-family: klavika-web, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#rate-page{
	font-family: 'Sen', sans-serif;
}

#catContent{
	display: flex;
	justify-content: center;
	color: #DB4437;
}

#dogContent{
	display: flex;
	justify-content: center;
	color: #F4B400;
}

#republicanContent{
	display: flex;
	justify-content: center;
	color: #0F9D58;
}

#progressiveContent{
	display: flex;
	justify-content: center;
	color: #4285F4;
}

.stay{
	display: flex;
	justify-content: center;
	text-align: center;
	color: black;
	font-size: 4em;
}

#executeButton{
	background-color: #4CAF50; /* Green */
  border: none;
  padding: 1%;
  text-align: center;
  display: inline-block;
  font-size: 0.3em;
  margin: 0.5%;
  cursor: pointer;
  background-color: #e7e7e7;
  color: black;
	font-family: 'Sen', sans-serif;
	border-radius: 5%;
}

#myInput{
	font-family: 'Sen', sans-serif;
	border-radius: 5%;
	padding: 1%;
	margin: 0.5%;
}

#endingContent{
	display: flex;
	justify-content: center;
	font-family: 'Times New Roman' ;

}

.ending{
	display: flex;
	font-family: 'Times New Roman';
	justify-content: center;


}


